
/* -----------------------------------------
		Phone responsive 430px
------------------------------------------*/

@media screen and (max-width: 430px) {

	/*---------------------------------
		Header (top-navigasjon)
	---------------------------------*/

	header .header_wrapper {
		width: 95%;
	}

	header .header_logo {
		height: 35px;
	}

	/*---------------------------------
		Splash
	---------------------------------*/

	.splash_page {
		
	}

	.splash_page .spalsh_wrapper {
		width: 95%;
	    background-image: url("../images/assets/splash_mobil.png");
	}

	/*Her velger vi alle med  med .container_wrapper classen, skriver ingenting forran.
	Vi gjør dette fordi vi skal bruke den
	samme på nytt i andre bokser, slik det bli lik luft på sidene*/

	.container_wrapper {
		width: 95%;
	}

	/*---------------------------------
		Førstedel
	---------------------------------*/

	.index_container_one {
		height: 350px;
	}

	.index_container_one .container_content {
		height: 350px;
		position: relative;
	}

	.index_container_one .container_content .banana_img {
		height: 375px;
		top: -75px;
		right: -2.5%;
	}

	.index_container_one .container_content .banana_img img {
		height: 100%;
	}

	.index_container_one .container_content .textbox {
		width: 65%;
		z-index: 1;
	}

	.index_container_one .container_content .textbox h1 {
		color: #fff;
		margin-bottom: 25px;
	}

	.index_container_one .container_content .textbox p {
		line-height: 20px;
		font-size: 13px;
	}

	/*---------------------------------
		Andredel
	---------------------------------*/

	.index_container_two {
		
	}

	.index_container_two .container_content {
		flex-direction: column;
		gap: 50px;
	}

	.index_container_two .container_content .left_img {
		display: none;
	}

	.index_container_two .container_content .right_img {
		width: 50%;
	}

	.index_container_two .container_content .right_img img {
		width: 100%;
	}

	.index_container_two .container_content .middle_text {

	}

	.index_container_two .container_content .middle_text h1 {
		margin-bottom: 25px;
		text-align: center;
	}

	.index_container_two .container_content .middle_text p {
		text-align: center;
		line-height: 24px;
	}

	/*---------------------------------
		tredjedel med bilde, tekst, kjøp mer
	---------------------------------*/

	.index_container_three {
		width: 100%;
		height: auto;
		margin-bottom: 50px;
	}

	.index_container_three .container_content {
		flex-direction: column;
		gap:  0px;
	}

	/*---------------------------------
		Del fire (container) av index
	---------------------------------*/

	.index_container_four {
		width: 100%;
		height: 500px;
		margin-bottom: 100px;
		background-color: #004a89;
	}

	.index_container_four .container_content {
		
	}

	.index_container_four .container_content .colum {
		
	}

	.index_container_four .container_content .colum:nth-child(1) {
		display: none;
	}

	.index_container_four .container_content .colum:nth-child(2) {
		width: 100%;
	}


	.index_container_four .container_content .colum h1 {
		color: #fff;
		margin-bottom: 25px;
		text-align: center;
	}

	.index_container_four .container_content .colum p {
		text-align: center;
	}

	.index_container_four .container_content .colum img {
		height: auto;
		width: 100%;
	}
	
	/*---------------------------------
		Del fem (container) av index
	---------------------------------*/

	.index_container_five {
		
	}

	.index_container_five .container_wrapper{
		width: 95%;
	}

	.index_container_five .container_content .colum {
	  	flex: 0 0 49%;
	  	height: auto;
	  	margin-bottom: 10px;
	  	background-color: #999;
	  	overflow: hidden;
	}

	/*---------------------------------
		Del seks (container) av index
	---------------------------------*/

	.index_container_six {
		
	}

	/*---------------------------------
		Del syv (container) av index
	---------------------------------*/

	.index_container_seven {
		
	}

	.index_container_seven .container_content form.contact_us {
		width: 90%;
	}